* {
  margin: 0;
}

.app {
  background-color: #fafafa;
}

.app__header {
  background-color: white;
  padding: 15px;
  margin: 15px;
  border-bottom: 1px solid lightgrey;
  object-fit: contain;
}

.logout {
  display: flex;
}

.app__logincontainer {
  display: flex;
  flex-direction: row;
}

.logout__button {
  font-size: 16px;
  font-weight: bold;
  width: 150px;
  height: 30px;
  border-radius: 20px;
  background-color: #0095f6;
  color: whitesmoke;
  box-shadow: 6px 6px 20px 8px lightsteelblue;
  border: 1px solid lightgrey;
  cursor: pointer;
  margin: 15px;
}
