* {
  margin: 0;
}

.app {
  background-color: #fafafa;
}

.app__header {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: white;
  padding: 8px 20px;
  margin: 15px;
  border-bottom: 1px solid lightgrey;
  object-fit: contain;
  display: flex;
  justify-content: space-between;
}

.app__header-image {
  object-fit: contain;
}

.logout {
  display: flex;
}

.app__logincontainer {
  display: flex;
  object-fit: contain;
  flex-direction: row;
}

.logout__button {
  font-size: 16px;
  font-weight: bold;
  width: 150px;
  height: 30px;
  border-radius: 20px;
  background-color: #0095f6;
  color: whitesmoke;
  box-shadow: 6px 6px 20px 8px lightsteelblue;
  border: 1px solid lightgrey;
  cursor: pointer;
  margin: 15px;
}

.app__posts {
  padding: 30px;
  display: flex;
  justify-content: center;
}

hr {
  margin: auto;
  width: 65%;
  background-color: darkslategray;
}

.app__postsright {
  margin-left: 25px;
  border-radius: 16px;
  border: 1px solid lightgrey;
  height: 1000px;
  width: 300px;
  color: whitesmoke;
  background-color: #151515;
  box-shadow: 10px 10px 40px 2px rgb(209, 209, 209);
}

#h2__elem {
  padding-top: 20px;
  padding-left: 30px;
  text-shadow: 2px 2px blueviolet;
}

.under-about {
  padding: 15px 20px;
  font-size: 14px;
}

.middle__app-vs {
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

#bold-mid {
  font-weight: bold;
  text-shadow: 2px 2px blueviolet;
}

.verison__number {
  padding-left: 15px;
  padding-top: 5px;
}

.createdby__me {
  padding-left: 15px;
  padding-top: 5px;
}

.extra {
  padding: 15px 20px;
  font-size: 14px;
}

a {
  text-decoration: none;
  color: aliceblue;
}
a:hover {
  color: aquamarine;
}
a:visited {
  text-decoration: none;
}
a:active { 
  text-decoration: none; 
}

li {
  list-style-type: none;
  padding: 10px;
}

#h4__elem {
  padding: 10px 20px;
}

.display__nameprofile {
  display: flex;
  justify-content: center;
  font-size: 30px;
  font-weight: bold;
}

.captions__profile {
  padding: 5px 20px;
}

.image__upload {
  position: sticky;
  bottom: 0;
  backdrop-filter: blur(5px);
}

.error__upload {
  display: flex;
  text-align: center;
  justify-content: center;
  font-size: 20px;
  font-weight: bolder;
  padding: 5px;
}
