.post {
    background-color: white;
    max-width: 500px;
    border: 1px solid lightgrey;
    box-shadow: 6px 6px 20px 8px rgb(209, 209, 209);
    border-radius: 10px;
    margin-bottom: 45px;
}

.post__image {
    width: 100%;
    object-fit: contain;
    border-top: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
}

.post__text {
    font-weight: normal;
    padding: 15px 25px;
}

.post__avatar {
    border-radius: 100%;
    border: 2px solid black;
    height: 50px;
    width: 50px;
    margin-right: 20px;
    margin-left: 5px;
}

.post__header {
    display: flex;
    align-items: center;
    padding: 15px 25px;
}
