.logo {
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: 30px;
    font-style: italic;
    padding-top: 25px;
    font-weight: bolder;
}

.comment {
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: 16px;
    padding-top: 10px;
    font-weight: bold;
    color: #8E8E8E;
}

.dashboard-sign-up {
    font-size: 16px;
    font-weight: bold;
    width: 150px;
    height: 30px;
    border-radius: 20px;
    background-color: #0095f6;
    color: whitesmoke;
    box-shadow: 6px 6px 20px 8px lightsteelblue;
    border: 1px solid lightgrey;
    cursor: pointer;
    margin: 15px;
}
